<%- include layouts/header.ejs %>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('/imagenes/banner2.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="slide-text">Bienvenido a VideoGameCity</h3>
            <h4 class="slide-text">Recomienda tus videojuegos favoritos!</h3>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/imagenes/banner1.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="slide-text">Visualiza la lista de los mejores videojuegos del momento</h2>
            <h4 class="slide-text">¡Gratis!</h4>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/imagenes/banner8.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="slide-text">¡Unete a esta gran comunidad de Gamers!</h1>
            <h4 class="slide-text">-</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>


     
<div class="container">
  <br>
  <div class="row">
    <div class="col col-sm-2"></div>
  <div class="col col-sm-2"><a href="#"><img style=" padding-left: 40px; height: 178px; width: 170px;" class="card-img-top imagen-lista" src="https://cdn.discordapp.com/attachments/756363152865624124/803420969108504606/design-b019565b-3766-4e3b-8520-d4a282ccc177.png" alt=""></a></div>

  <% if(user){ %>
    <div class="col col-sm-4" style="padding-left: 80px; padding-top:20px;"><a class="btn btn-success btn-block" style="text-align: center;"  href="../recomendar"><H6>RECOMIENDA TU VIDEO JUEGO <i class="fas fa-plus-circle"></i></H6></a></div>

  <% } else{ %>  

  
 <% } %>

  
 
 
  <div class="col col-sm-2"><a href="#"><img style="padding-right: 20px; height: 180px; width: 180px;" class="card-img-top imagen-lista" src="https://cdn.discordapp.com/attachments/756363152865624124/803374432038813696/vinilos-infantiles-super-mario-bros.png" alt=""></a></div>
  <div class="col col-sm-2"></div>
  </div>

  <br>
  <div class="linea-separadora"></div>
  
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col offset-lg-3">
 <h1 id="rankings" class="my-4 bienvenida-text">RANKING RECOMENDADOS
        </div>
        
      </div>
      <!-- Marketing Icons Section -->
      <div class="row">

                                                    
        <% for(var videojuego=0;videojuego<Videojuegos.length;videojuego++) { %>

            <div class="col-sm-3 portfolio-item ">
            <div class="card h-100 sombra-caja-lista">
              <a href="#"><img class="card-img-top imagen-lista" src="<%=Videojuegos[videojuego].imagen%>" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><%=Videojuegos[videojuego].titulo%></a>
                </h4>
                <p class="card-text"><%=Videojuegos[videojuego].descripcion%>...</p>

                <p class="card-text">Votos: <%=Videojuegos[videojuego].votos%></p>


                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=Videojuegos[videojuego].id_videojuego%>">
                  Ver
                </button>
          
   

              </div>
            </div>
          </div>

          <% } %>
      </div>
     
      <!-- /.row -->

      <div class="row">

                                                    
        <% for(var videojuego=0;videojuego<Videojuegos.length;videojuego++) { %>

                       <!-- Modal -->
                       <div class="modal fade" id="<%=Videojuegos[videojuego].id_videojuego%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><%=Videojuegos[videojuego].titulo%></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              ...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>      

          <% } %>
      </div>

      <!-- /.row -->
  
      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Modern Business Features</h2>
          <p>The Modern Business template by Start Bootstrap includes:</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>jQuery</li>
            <li>Font Awesome</li>
            <li>Working contact form with validation</li>
            <li>Unstyled page elements for easy customization</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>
  
      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
      </div>
  
    </div>

  </header>
  
<%- include layouts/footer.ejs %>