<%- include layouts/header_registrargames.ejs %>
<header>

    <div class="banner">
        <script type="text/javascript">
            $(document).ready(function(){
                $('input.prueba').typeahead({
                    name: 'countries',
                    remote: 'http://localhost:3000/searchtool?key=%QUERY',
                    limit: 10,
                
                });
              
            });
            </script>
            <div class="row fill_height">
        
                <div class="col-lg-12">
                    <div class="global-container">
                        <div class="card login-form">
                        <div class="card-body">
                            <h3 style="font-weight: bold;" class="card-title text-center">Recomendar Videojuego</h3>
                            <div style="height: 10px;"></div>
               
                            <div class="text-center"><img style="height:70px;width:70px;" src="/imagenes/img dado.png" alt=""></div>
                            
                            <div class="card-text">
                                <!--
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                                <% if(typeof message!= "undefined" && message) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert"><strong><%= message %></strong>&nbsp;&nbsp;&nbsp;
                                        <a class="btn btn-info" href="/">Ir al Ranking</a>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                <% } %>
                                <% if(typeof messagessucces!= "undefined" && messagessucces) { %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert"><strong><%= messagessucces %></strong>&nbsp;&nbsp;
                                        <a class="btn btn-info" href="/">Ir al Ranking</a>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                    </div>
                                <% } %>
                                <% if(typeof precaucion!= "undefined" && precaucion) { %>
                                    <div class="alert alert-primary alert-dismissible fade show" role="alert"><strong><%= precaucion %></strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                    </div>
                                <% } %>
                                <br>
                             <div class="form-s">
                                    <!-- to error: add class "has-danger" -->
                                    <form action="/auth/recomendado" method="POST">

                                        <div class="form-group">
                                            <label for="exampleInputEmail2"></label>
                                            <input type="name" ID="titulo" name="titulo"  class="form-control form-control-sm prueba" style="width: 482px;" placeholder="Ingresa el titulo *que no este en la lista*" maxlength="40" autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail2"></label>
                                            <input type="name" class="form-control form-control-sm descripcion" placeholder="Ingresa la descripción max. 90 palabras" maxlength="90" name="descripcion"  autocomplete="off" required>
                                        </div>
                                    <br>
                                    <br>
                                    <button type="submit" class="btn btn-primary btn-block" value="Add">Registrar Videojuego</button>
                                 </form>
                                    <br>
                                    <br>
                                    <div class="linea-formulario"></div>
                                    <div class="sign-up">
                                        ¿No tienes cuenta? <a href="/registro">Registrarme</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
       
    </div>
    </header>

    

<%- include layouts/footer.ejs %>