<%- include layouts/header_succes.ejs %>
<header>

<div class="container">

  <br>
  <br>
  <hr>
  <br>
  <div class="banner2">
    <div class="">
        <div class="row fill_height">
            <div class="col-lg-12">

              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-4"></div>
              <div class="col-lg-2 col-md-2 col-sm-4"><center>
                <a href="#"><img style=" padding-left: 40px; height: 178px; width: 170px;" class="card-img-top imagen-lista" src="https://cdn.discordapp.com/attachments/756363152865624124/803420969108504606/design-b019565b-3766-4e3b-8520-d4a282ccc177.png" alt=""></a>
              </center>
              </div>
              <div class="col-lg-6 col-md-5 col-sm-4"><center>

                


                <h3  id="rankings" class="my-4 bienvenida-text"><%= mensaje %></h1>
                <div class="col-lg-4 col-md-2 col-sm-4" style=""><a class="btn btn-success btn-block" style="text-align: center;"  href="../recomendar"><H5>Ir a Inicio <i class="fas fa-plus-home"></i></H5></a></div>
              </center>
              </div>
             
              <div class="col-lg-2 col-md-2 col-sm-4"><center><a><img style="padding-right: 20px; height: 180px; width: 180px;" class="card-img-top imagen-lista" src="https://cdn.discordapp.com/attachments/756363152865624124/803374432038813696/vinilos-infantiles-super-mario-bros.png" alt=""></a></center></div>
              <div class="col-lg-1 col-md-1 col-sm-4"></div>
            </div>
        </div>
    </div>
  </div>
  </div>



  <br>
  
  
    <!-- Page Content -->
    <div class="container">
        <br>
  <br>
  <br>
  <br>
      <div class="row">
        <div class="col offset-lg-3">
          <% if(typeof messagessucces!= "undefined" && messagessucces) { %>
            <div class="alert alert-success alert-dismissible fade show" style="width: 500px;" role="alert"><strong style="padding-left: 120px;"><%= messagessucces %></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
        <% } %>
        <% if(typeof message!= "undefined" && message) { %>
          <div class="alert alert-danger alert-dismissible fade show" style="width: 550px;" role="alert"><strong style="padding-left: 50px;"><%= message %></strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
          </div>
      <% } %>

        <br> 

        </div>
        
      </div>
  





  
     
  
    </div>
    <hr>
  </header>
  <br>
  <br>
 

<%- include layouts/footer.ejs %>