<%- include layouts/header_regis.ejs %>
<header>
     <style>
      .card {
        opacity: 0.8;
        filter: alpha(opacity=60);
      }
      .card-title {
        font-weight:bold;
        text-align: center;
      }
      .card-text {
        text-align: justify;
      }
      
      .modal-header {
        background-image: linear-gradient(#7FDBFF,white);
      }
      .modal-footer {
        background-image: linear-gradient(white,#7FDBFF);
      }
      #left-panel-link {
        position: relative;
        left: 5%;
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      #right-panel-link {
        position: absolute;
        right: 10%;
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      .sep {
        height: 25px;
      }

     </style>
<div class="container">
  <hr>
  <br>
  <div class="row">
    <div class="col col-sm-2"></div>
  <div class="col col-sm-2"><a href="#"><img style=" padding-left: 20px; height: 180px; width: 170px;" class="card-img-top imagen-lista" src="https://cdn.discordapp.com/attachments/756363152865624124/803420969108504606/design-b019565b-3766-4e3b-8520-d4a282ccc177.png" alt=""></a></div>
  <div class="col col-sm-4" style="padding-left: 80px; padding-top:20px;"><a class="btn btn-success btn-block" style="text-align: center;"  href="../recomendar"><H6>RECOMIENDA TU VIDEO JUEGO <i class="fas fa-plus-circle"></i></H6></a></div>
  <div class="col col-sm-2"><a href="#"><img style="padding-right: 20px; height: 180px; width: 180px;" class="card-img-top imagen-lista" src="https://cdn.discordapp.com/attachments/756363152865624124/803374432038813696/vinilos-infantiles-super-mario-bros.png" alt=""></a></div>
  <div class="col col-sm-2"></div>
  </div>

  <br>
  <div class="linea-separadora"></div>
  
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col offset-lg-3">
 <h1 id="rankings" class="my-4 bienvenida-text">Videojuego(s) encontrado(s): 
        </div>
        
      </div>
      <!-- Marketing Icons Section -->
      <div class="row">

                                                    
        <% for(var videojuego=0;videojuego<Videojuegos.length;videojuego++) { %>

          <div class="col-sm-3 portfolio-item " style="padding-top: 45px;">
            <ul class="list-group" >
              <li class="list-group-item list-group-item-warning"><i class="fa fa-star"style="font-size:20px;"></i>   Votos: <%=Videojuegos[videojuego].votos%> </li>
            
            </ul>
            <div class="card h-100 sombra-caja-lista">
              
              <a href="#"><img class="card-img-top imagen-lista" src="<%=Videojuegos[videojuego].imagen%>" alt=""></a>
              <div class="card-body">
                <h4 style="font-weight:500; height: 50px;"  class="card-title">
                  <a href="#"><%=Videojuegos[videojuego].titulo%>...</a>
              </h4> 
             
              <p style="height: 70px;" class="card-text"><%=Videojuegos[videojuego].descripcion%>...</p>
<br>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=Videojuegos[videojuego].id_videojuego%>">
                Ver
              </button>

              <% if(user){ %>
                <button type="button" enable=false class="btn btn-success" data-toggle="modal" data-target="#exampleModal<%=Videojuegos[videojuego].id_videojuego%>">
                  Votar
                </button>
              <% } else{ %>  
                <button type="button" disabled="true"  class="btn btn-success" data-toggle="modal" data-target="#exampleModal<%=Videojuegos[videojuego].id_videojuego%>">
                  Votar
                </button>
             <% } %>
              </div>
            </div>
          </div>

          <% } %>
      </div>

      <!-- /.row -->
        <!-- Row 1 -->
        <div class="card-deck">
          <div class="card col-sm-3">
            <img class="card-img-top" src="http://www.orseu-concours.com/451-615-thickbox/selor-test-de-raisonnement-abstrait-niveau-a.jpg" alt="Company logo">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <ul class="list-group">
                <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase"style="font-size:20px;"></i>   Company</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-user"style="font-size:20px;"></i>   Role</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-map-marker"style="font-size:20px;"></i>   Location</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o"style="font-size:20px;"></i>   Duration</li>
                <li class="list-group-item list-group-item-success"><i class="fa fa-inr"style="font-size:20px;"></i>   Cost</li>
              </ul>
              
            </div>
           
          </div>

        </div>
         <div class="sep"></div>
        
          <!-- Row 1 -->
  
      <!-- Features Section -->
  
  
      <hr>
  
      <!-- Call to Action Section -->

  
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
<%- include layouts/footer.ejs %>